


<%= form_with model: @student, method: 'get' do |f| %>

<div>

Search:

<%= f.text_field :q, value: params[:q],placeholder:'Search employee by emp_name' %>

<%= f.submit "search" %>
<%= link_to "clear", students_path %>

<% end %>

</div>