<%= render 'bootstrap' %>
<br>
<img src = "https://osidigital.com/wp-content/uploads/2018/08/osi_logo_rgb.png" style="width:400px;height:100px;">

<p><h3>At OSI Digital, we’re in the relationship business. We offer expert business and technology solutions that accelerate digital transformation for our customers. Our services include the design, development and implementation of new solutions as well as the ongoing management, enhancement and support of our customers’ existing business systems.</h3></p>
<br>
<h3>
<strong>
<center>
<%= link_to "back" ,students_path %>
</center>
</strong>
</h3>