<h2>Hii </h2>
<h3>  Contact Us: </h3>
<center>
   <h4>Delhi Public School HYDERABAD</h4>
    <h4>survey no 74, khajaguda village,</h4>
     <h4>Chitrapuri colony road, HYDERABAD</h4>
     <h4>Telangana- 500045 </h4>
      <h4>phone no:85224-44254</h4>
      <h4>email:dps@info.com<h4>
      </center>

<%= link_to "back", :back %>
<br>


